.title{
    font-size: 130px; 
    border: 10px solid darkblue;
    padding: 18% 8% 18% 8%; 
    background-color: black;
    color: lightgray;
    margin: 20px 200px 0px 200px;display: flow-root;
    font-style:oblique;
}