#homePage-title{
    margin: 10px auto 0px auto;
    border: 50px solid blue;
    background-color: black;
    display: block;
    height: 500px;
    color: blue;
    text-align: center;
    width: 900px;
    font-size: 100px;
}

#HTML-and-CSS-s{
color: blue;
font-size: small;
}

.introduction{
   word-spacing: 5px;
}

.link-for-introduction{
    color: blue;
}

button{
    background-color: blue;
    display: inline-block;
    padding: 20px 20px;
}