#homePage-title{
    margin: 10px auto 0px auto;
    border: 50px solid blue;
    background-color: black;
    display: block;
    height: 500px;
    color: blue;
    text-align: center;
    width: 900px;
}




    